@charset "utf-8";

/* Body */
body {
    display: flex;
    flex-direction: column;
    background-color: rgba(228, 177, 171, 0.25);
    margin: 0;
    min-height: 100vh;
    font-family: 'Calibri', sans-serif;
    max-width: 100vw;
}

/* Header */
header {
    overflow: hidden;
    width: 100vw;
    display: grid;
    grid-template-columns: 9fr 1fr;
    justify-content: center;
    align-content: center;
    background-color: #cc444b;
}

.header-main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-evenly;
    margin: 0px 20vw;
}

.header-other {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: flex-end;
    background-color: #da5552;
}

header a {
    color: white;
    text-decoration: none;
    padding: 10px 0px;
    justify-self: center;
    white-space: nowrap;
}

a:visited {
    text-decoration: none;
}

article a {
    color: black;
    text-decoration: underline;
}

#active {
    background-color: white;
    color: #cc444b;
    padding: 10px 5vw;
}

/* Content */
.content {
    padding: 0px 10vw;
    margin-bottom: 5rem;
}

.text-about li {
    font-weight: 1000;
}

.text-about li p {
    font-weight: 500;
    margin: 6px 0px;
}

.text {
    display: grid;
}

.text-about {
    display: grid;
    font-size: 1.2rem;
    grid-template-columns: 1fr 1fr;
    column-gap: 24px;
}

/* Home Elements */
.text-home {
    font-size: 1.2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 12px;
    border-radius: 12px;
    padding: 24px 6px;
}

.profile-photo img {
    display: block;
    align-self: center;
    max-width: 360px;
    max-height: 480px;
    border-radius: 24px;
    outline: solid black 1px;
}

.profile-photo {
    display: grid;
    place-items: center;
}

.info-home {
    display: grid;
    justify-items: center;
    align-items: center;
}

.info-home li {
    margin: 12px 6px;
    font-weight: 500;
}

.info-home h3 {
    margin-bottom: 24px;
}

.home-name {
    font-size: 4rem;
    margin: 12px 0px 12px 0px;
}

.intro {
    font-size: 3rem;
    text-align: center;
    margin: 16px 10vw 12px 10vw;
}

/* About Elements */
.headline {
    font-size: 1.5rem;
    text-align: center;
}

embed {
    width: 100%;
    height: 50vw;
    min-height: 780px;
    max-height: 50%;
    border-radius: 12px;
}

/* Project Elements */
.project li {
    font-weight: 500;
}

.project li p {
    font-weight: 500;
    margin: 0px 0px 4px 12px;
}

.cv a {
    font-weight: 1000;
}

/* Contact Elements */

.contact-info {
    font-size: 1.2rem;
    margin: auto;
    margin-top: 10vh;
    width: 100%;
}

.contact-info li {
    font-size: 1.5rem;
    display: block;
    font-weight: 500;
    overflow: visible;
    margin-bottom: 12px;
    word-wrap: break-word;
    list-style: none;
}

.contact-info a:visited,
.contact-info a {
    color: black;
    text-decoration: underline solid 1px black;
}

.contact-info h3 {
    text-align: center;
    font-size: 2rem;
}

.contact-info ul {
    padding: 0;
    margin: 28px 0px 0px 0px;
}

/* Footer */
.page-container {
    overflow: hidden;
    position: relative;
    min-height: 100vh;
}

footer {
    overflow: visible;
    display: grid;
    position: absolute;
    bottom: 0;
    width: 100%;
    grid-template-columns: 1fr;
    justify-content: space-evenly;
    background-color: #cc444b;
}

footer p {
    justify-self: center;
}

/* Media */
@media screen and (max-width: 1024px) {
    header {
        grid-template-columns: 1fr;
    }

    .header-main {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        margin: 0px 0px 0px 0px;
    }

    header a,
    #active {
        padding: 6px 100vw 6px;
    }

    .text-home {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }

    .info-home h1 {
        text-align: center;
    }

    .text-about {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        display: block;
    }

    .content {
        padding: 0px 5vw
    }

    .contact-info {
        display: block;
    }
}